aiogram==2.19
aiohttp==3.8.6
aiosignal==1.2.0
APScheduler==3.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
Babel==2.9.1
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2024.12.14
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==40.0.2
decorator==5.1.1
frozenlist==1.2.0
idna==3.10
idna-ssl==1.1.0
importlib-resources==5.4.0
multidict==5.2.0
pycparser==2.21
python-dotenv==0.20.0
python-telegram-bot==12.8
pytz==2025.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.17.0
tornado==6.1
typing_extensions==4.1.1
tzdata==2025.1
tzlocal==4.2
urllib3==1.26.20
vk-api==11.9.9
yarl==1.7.2
zipp==3.6.0
